.count {
  color: black;
}
.user {
  height: 100px;
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
